* {
    margin: 0;
}
.header_holder {
    margin-top: 50px;
    float: left;
    width: 100%;
}

.header_holder h1 {
    width: 100%;
    float: left;
    text-align: center;
}

.header_holder li {
    list-style: none;
}

#squares_container {
    margin-top: 50px;
    float: left;
    height: 34px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sqr_block {
    float: left;
    width: 34px;
    height: 34px;
    background-color: aliceblue;
    display : flex;
    align-items : center;
    text-align: center;
    margin-bottom: 35px;
    outline: 3px solid darkblue;
}

.sqr_block > *{
    margin: auto;
}

.abs_holder {
    width: 800px;
}

.seta_img {
    width: 25px;
    position: absolute;
}

.relative_squares_container{
    margin-bottom: 50px;
}

.relative {
    left: 50%;
    transform: translateX(-50%);
    float: left;
    position: relative;
}

.clear {
    clear: both;
}

#next_button, #preview_button{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.bottom{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#table_transition {
    float: left;
    min-height: 50px;
    width: 200px;
}

#table_transition td{
    text-align: center;
    padding: 5px;
}

.table_holder {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.table_holder h1 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#table_transition, #table_transition th, #table_transition td {
    border:1px solid black;
  }


.table_process_holder {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.table_process {
    float: left;
    min-height: 50px;
    width: 200px;
}

.table_process td {
    text-align: center;
    padding: 5px;
}
.table_process, .table_process th, .table_process td {
    border:1px solid black;
  }

.buttonP{
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.buttonP:hover{
    background-color: hsl(240, 100%, 90%);
}

.table_process_holder h1{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}